language: C

os: Linux

dist: xenial

addons:
  apt:
    packages:
      - gcovr
      - libcunit1-ncurses-dev

script:
  - mkdir Build
  - cd Build
  - cmake .. -DCMAKE_INSTALL_PREFIX=../inst
  - make install
  - ../inst/bin/tp_area
